
/* Meet Our Team Section */
.team {
  padding: 5rem 1rem;
  text-align: center;
}

.team__header {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

.team__header span {
  color: #fbbf24;
}

.team__description {
  max-width: 600px;
  margin: 0 auto 4rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.75rem;
}

.team__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.team__card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.team__card:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
}

.team__card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto 1rem;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.team__card h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1e40af;
  margin-bottom: 0.5rem;
}

.team__card p {
  font-size: 0.95rem;
  color: #64748b;
}




/* Footer Section */
.footer {
  color: white;
  padding: 3rem 2rem 1rem;
  margin-top: auto;
  width: 100%;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem 2rem;
  margin-bottom: 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer__col p {
  max-width: 400px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
}

.footer__col h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 0.75rem;
}

.footer__links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: all 0.3s;
}

.footer__links a:hover {
  color: #fbbf24;
  padding-left: 5px;
}

.footer__bar {
  padding: 1.5rem 1rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 1200px;
  margin: 0 auto;
}